.contact-wrapper {
  @include flexbox-column;
  align-items: center;

  div {
    width: 50vw;

    form {
      .form-group {
        @include flexbox-column;
        gap: 10px;

        input,
        textarea {
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-top: 6px;
          margin-bottom: 16px;
          resize: vertical;
        }
      }

      button {
        background-color: $nav-blue-color;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
